#  AILABS DAY :: 2

                                                                                                        Date : 16.06.2023

In [2]:
2+3
5+4

9

In [3]:
print(2+3)
print(4+5)

5
9

In [4]:
#variable
# --- which content one value at a time.

var = 2+3  # '= ' it is a assignment operator (work- )
print(var)

5

In [5]:
bankab = 1200
popconcost = 600
available_ballance = (bankab - popconcost)
print(available_ballance)

600

In [6]:
@var = 5 #error : it is a override  process..
7var = 5 #error : variable can`t start with any interger value.
_ = 5
__ = 5

SyntaxError: invalid syntax (1404339599.py, line 1)

In [7]:
"It's Runnable Command"

"It's Runnable Command"

In [8]:
'It\'s Runnable Command'

"It's Runnable Command"

In [9]:
"Akash said, \"It's your Bag\" only "

'Akash said, "It\'s your Bag" only '

In [10]:
"Akash said, \"It's your Bag\" only " #crate as a symbol it's bot the end of a string.    #here print also '\' 
#to solve using () 
print("Akash said, \"It's your Bag\" only ")

Akash said, "It's your Bag" only

In [11]:
s1 = "Akash said, \"It's your Bag\" only "
s2 = "Akash " + "karmaker"
s = s1+s2
print(s)

Akash said, "It's your Bag" only Akash karmaker

In [12]:
print(1 + 1 == 4)
print(100 > 52)

False
True

## Data Structure

In [13]:
s = set()
type(s)

set

In [14]:
s = ()
type(s)

tuple

In [15]:
s = {}
type(s)

dict

In [16]:
s = []
type(s)

list

List

In [17]:
#list is mutable -- it can change after allocate
list = [12,5,6,78,'Aritra']
list.append('Mukherjee')
print(list)

[12, 5, 6, 78, 'Aritra', 'Mukherjee']

Index

MEMBERSHIP OPERATOR

In [18]:
list[0:5]

[12, 5, 6, 78, 'Aritra']

In [19]:
#step jump
list[0:5:2]

[12, 6, 'Aritra']

In [20]:
list.append([12,5,6,70])
list

[12, 5, 6, 78, 'Aritra', 'Mukherjee', [12, 5, 6, 70]]

In [21]:
list.extend ([12,5,6,70])
list

[12, 5, 6, 78, 'Aritra', 'Mukherjee', [12, 5, 6, 70], 12, 5, 6, 70]

In [22]:
list.remove(70)
list

[12, 5, 6, 78, 'Aritra', 'Mukherjee', [12, 5, 6, 70], 12, 5, 6]

In [23]:
list.pop(4)
print(list)

[12, 5, 6, 78, 'Mukherjee', [12, 5, 6, 70], 12, 5, 6]

In [24]:
list = [12, 5, 6, 78, 'Aritra', 'Mukherjee', [12, 5, 6, 70], 12, 5, 6]
print(list[6][1])

5

Tupple

In [25]:
#it is immutable -- it can not change 
tup = (12,5,6,40)
ple = (202,5,156,30)
conca = tup + ple
print(conca)

(12, 5, 6, 40, 202, 5, 156, 30)

Set

In [41]:
#collection of unic item.

In [27]:
List  = [1,5,6,8,10,1,7,7,50,6,40,100]
set(List)

{1, 5, 6, 7, 8, 10, 40, 50, 100}

Dict

In [28]:
d = {'name' : "Aritra", 'title':'Mukherjee'}
print(d)

{'name': 'Aritra', 'title': 'Mukherjee'}

In [29]:
#same key name is override the 1st name and print the very last value.
d = {1:120,'name':'Aritra', 1: 12}
print(d)

{1: 12, 'name': 'Aritra'}

In [30]:
d['name']

'Aritra'

#### Type Casting

 - Implicit
 - Explicit

In [31]:
#Implicit
a = 12
b = 12.3
new = a + b
print(new)
print(type(new))

24.3
<class 'float'>

In [45]:
# Explicit

a = '20'
print("Type of a : ", type(a),a)
b = 10
c = int(a)
print("After Using Type Casting Type of a : ",type(c), c)
s = c+b
print(s)

Type of a :  <class 'str'> 20
After Using Type Casting Type of a :  <class 'int'> 20
30

#### Conditinal Statement

In [33]:
a = 5
if a < 6:
    print('less then a')

less then a

In [34]:
a = True

In [35]:
if a == True:
    print('Valid')

Valid

In [36]:
if a:
    print("Validated")

Validated

In [46]:
a = False
if a:
    print(a)

In [38]:
def student(a):
    if a>=90:
        return "A"
    if a>=80 and a<=89:
        return "B"
    if a>=70 and a<=79:
        return "C"
    if a>=60 and a<=69:
        return "D"
    if a>=41 and a<=59:
        return "E"
    if a<=40:
        return "FAIL"
    
b=int(input("enter the marks of student in SUB 1"))
c=int(input("enter the marks of student in SUB 2"))
d=int(input("enter the marks of student in SUB 3"))
e=int(input("enter the marks of student in SUB 4"))
f=int(input("enter the marks of student in SUB 5"))
print(student(b))
print(student(c))
print(student(d))
print(student(e))
print(student(f))

enter the marks of student in SUB 1

ValueError: invalid literal for int() with base 10: ''

Qu1 :

In [39]:
name = input("Enter the Student name : ")

ot = float(input('Enter OPERATION RESEARCH Number > '))
py = float(input('Enter Phthon Number > '))
ds = float(input('Enter DSA Number > '))
ja = float(input('Enter JAVA Number > '))
dv = float(input('Enter DVMS Number > '))
print("Name of The Student >> " , name)

#1
if ot >= 91 and ot <= 100:
    print(f"OPERATION RESEARCH's number is {ot} & gread is >> A+")
elif ot >= 80 and ot <= 90:
        print(f"OPERATION RESEARCH's number is {ot} & gread is >> A")
elif ot >= 70 and ot <= 79:
        print(f"OPERATION RESEARCH's number is {ot} & gread is >> B")
elif ot >= 60 and ot <= 69:
        print(f"OPERATION RESEARCH's number is {ot} & gread is >> C")
elif ot >= 50 and ot <= 59:
        print(f"OPERATION RESEARCH's number is {ot} & gread is >> D")
elif ot >= 40 and ot <= 49:
        print(f"OPERATION RESEARCH's number is {ot} & gread is >> E")
else:
        print(f"OPERATION RESEARCH's number is {ot} & YOU ARE NOT QULIFIED..")

#2
if py >= 91 and py <= 100:
    print(f"Python's number is {py} & gread is >> A+")
elif py >= 80 and py <= 90:
        print(f"Python's number is {py} & gread is >> A")
elif py >= 70 and py <= 79:
        print(f"Python's number is {py} & gread is >> B")
elif py >= 60 and py <= 69:
        print(f"Python's number is {py} & gread is >> C")
elif py >= 50 and py <= 59:
        print(f"Python's number is {py} & gread is >> D")
elif py >= 40 and py <= 49:
        print(f"Python's number is {py} & gread is >> E")
else:
        print(f"You are not qualified IN PYTHON ! Your marks is > {py}")

#3       
if ds >= 91 and ds <= 100:
    print(f"Data Structure's number is : {ds} & gread is >> A+")
elif ds >= 80 and ds <= 90:
        print(f"Data Structure's number is : {ds} & gread is >> A")
elif ds >= 70 and ds <= 79:
        print(f"Data Structure's number is : {ds} & gread is >> B")
elif ds >= 60 and ds <= 69:
        print(f"Data Structure's number is : {ds} & gread is >> C")
elif ds >= 50 and ds <= 59:
        print(f"Data Structure's number is : {ds} & gread is >> D")
elif ds >= 40 and ds <= 49:
        print(f"Data Structure's number is : {ds} & gread is >> E")
else:
        print(f"Data Structure's number is : & you are not qualified! Your marks is > {ds}")

#4
if ja >= 91 and ja <= 100:
    print(f"Java's Number is : {ja} & gread is >> A+")
elif ja >= 80 and ja <= 90:
        print(f"Java's Number is : {ja} & gread is >> A")
elif ja >= 70 and ja <= 79:
        print(f"Java's Number is : {ja} & gread is >> B")
elif ja >= 60 and ja <= 69:
        print(f"Java's Number is : {ja} & gread is >> C")
elif ja >= 50 and ja <= 59:
        print(f"Java's Number is : {ja} & gread is >> D")
elif ja >= 40 and ja <= 49:
        print(f"Java's Number is : {ja} & gread is >> E")
else:
        print(f"You are not qualified in Java ! Your marks is > {ja}")
 
#5
if dv >= 91 and dv <= 100:
    print(f"DVMS's number is :  {dv} & gread is >> A+")
elif dv >= 80 and py <= 90:
        print(f"DVMS's number is :  {dv} & gread is >> A")
elif dv >= 70 and dv <= 79:
        print(f"DVMS's number is :  {dv} & gread is >> B")
elif dv >= 60 and dv <= 69:
        print(f"DVMS's number is :  {dv} & gread is >> C")
elif dv >= 50 and dv <= 59:
        print(f"DVMS's number is :  {dv} & gread is >> D")
elif dv >= 40 and dv <= 49:
        print(f"DVMS's number is :  {dv} & gread is >> E")
else:
        print(f"DVMS's number is : & are not qualified in DVMS ! Your marks is > {dv}")

print(f'Best Of Luck {name} for Your Future ... ')

Enter the Student name :
Enter OPERATION RESEARCH Number >

ValueError: could not convert string to float: ''

In [40]:
name = input("Enter the Student name : ")

sub1 = input('Enter Name of Subject 1 >> ')
ot = float(input(f'Enter {sub1} Number > '))
sub2 = input('Enter Name of Subject 2 >> ')
py = float(input(f'Enter {sub2} Number > '))
sub3 = input('Enter Name of Subject 3 >> ')
ds = float(input(f'Enter {sub3} Number > '))
sub4 = input('Enter Name of Subject 4 >> ')
ja = float(input(f'Enter {sub4} Number > '))
sub5 = input('Enter Name of Subject 5 >> ')
dv = float(input(f'Enter {sub5} Number > '))

print("Name of The Student >> " , name)

#1
if ot >= 91 and ot <= 100:
    print(f"{sub1}'s number is {ot} & gread is >> A+")
elif ot >= 80 and ot <= 90:
        print(f"{sub1}'s number is {ot} & gread is >> A")
elif ot >= 70 and ot <= 79:
        print(f"{sub1}'s number is {ot} & gread is >> B")
elif ot >= 60 and ot <= 69:
        print(f"{sub1}'s number is {ot} & gread is >> C")
elif ot >= 50 and ot <= 59:
        print(f"{sub1}'s number is {ot} & gread is >> D")
elif ot >= 40 and ot <= 49:
        print(f"{sub1}'s number is {ot} & gread is >> E")
else:
        print(f"{sub1}'s number is {ot} & YOU ARE NOT QULIFIED..")

#2
if py >= 91 and py <= 100:
    print(f"{sub2}'s number is {py} & gread is >> A+")
elif py >= 80 and py <= 90:
        print(f"{sub2}'s number is {py} & gread is >> A")
elif py >= 70 and py <= 79:
        print(f"{sub2}'s number is {py} & gread is >> B")
elif py >= 60 and py <= 69:
        print(f"{sub2}'s number is {py} & gread is >> C")
elif py >= 50 and py <= 59:
        print(f"{sub2}'s number is {py} & gread is >> D")
elif py >= 40 and py <= 49:
        print(f"{sub2}'s number is {py} & gread is >> E")
else:
        print(f"You are not qualified IN {sub2} ! Your marks is > {py}")

#3       
if ds >= 91 and ds <= 100:
    print(f"{sub3}'s number is : {ds} & gread is >> A+")
elif ds >= 80 and ds <= 90:
        print(f"{sub3}'s number is : {ds} & gread is >> A")
elif ds >= 70 and ds <= 79:
        print(f"{sub3}'s number is : {ds} & gread is >> B")
elif ds >= 60 and ds <= 69:
        print(f"{sub3}'s number is : {ds} & gread is >> C")
elif ds >= 50 and ds <= 59:
        print(f"{sub3}'s number is : {ds} & gread is >> D")
elif ds >= 40 and ds <= 49:
        print(f"{sub3}'s number is : {ds} & gread is >> E")
else:
        print(f"{sub3}'s number is : & you are not qualified! Your marks is > {ds}")

#4
if ja >= 91 and ja <= 100:
    print(f"{sub4}'s Number is : {ja} & gread is >> A+")
elif ja >= 80 and ja <= 90:
        print(f"{sub4}'s Number is : {ja} & gread is >> A")
elif ja >= 70 and ja <= 79:
        print(f"{sub4}'s Number is : {ja} & gread is >> B")
elif ja >= 60 and ja <= 69:
        print(f"{sub4}'s Number is : {ja} & gread is >> C")
elif ja >= 50 and ja <= 59:
        print(f"{sub4}'s Number is : {ja} & gread is >> D")
elif ja >= 40 and ja <= 49:
        print(f"{sub4}'s Number is : {ja} & gread is >> E")
else:
        print(f"You are not qualified in {sub4} ! Your marks is > {ja}")
 
#5
if dv >= 91 and dv <= 100:
    print(f"{sub5}'s number is :  {dv} & gread is >> A+")
elif dv >= 80 and py <= 90:
        print(f"{sub5}'s number is :  {dv} & gread is >> A")
elif dv >= 70 and dv <= 79:
        print(f"{sub5}'s number is :  {dv} & gread is >> B")
elif dv >= 60 and dv <= 69:
        print(f"{sub5}'s number is :  {dv} & gread is >> C")
elif dv >= 50 and dv <= 59:
        print(f"{sub5}'s number is :  {dv} & gread is >> D")
elif dv >= 40 and dv <= 49:
        print(f"DVMS's number is :  {dv} & gread is >> E")
else:
        print(f"{sub5}'s number is : & are not qualified in {sub5} ! Your marks is > {dv}")
        
total = ot+ds+ja+dv+py      
avg = (total*100)//5
print(f"Your Total Marks is = {total} & Avarage marks is = {avg}")

print(f'Best Of Luck {name} for Your Future ... ')

Enter the Student name :
Enter Name of Subject 1 >>
Enter  Number >

ValueError: could not convert string to float: ''