In [38]:
import numpy as np
import pandas as pd

In [93]:
df = pd.read_csv("data.csv")
df

    32.502345269453031  31.70700584656992
0            53.426804          68.777596
1            61.530358          62.562382
2            47.475640          71.546632
3            59.813208          87.230925
4            55.142188          78.211518
..                 ...                ...
94           50.030174          81.536991
95           49.239765          72.111832
96           50.039576          85.232007
97           48.149859          66.224958
98           25.128485          53.454394

[99 rows x 2 columns]

In [130]:
# def fit(X_train,y_train):
    
#         num = 0
#         den = 0
        
#         for i in range(X_train.shape[0]):    #X_train.shape[0] - len of x, shape[0]= number of rows. | Shape return the hole tupple , shape[0] return row 

#             num = num + ((X_train[i] - X_train.mean())*(y_train[i] - y_train.mean()))
#             den = den + ((X_train[i] - X_train.mean())*(X_train[i] - X_train.mean()))
# #             den = den + ((X_train[i] - X_train.mean())**2
#         cofe_ = num/den
#         intercept_ = (y_train.mean() - ((cofe_)*X_train.mean()))

#         print("m = ",cofe_)
#         print("b = ",intercept_)

In [131]:
def fit(X_train,y_train):
    
        num = 0
        den = 0
        
        for i in range(X_train.shape[0]):    #X_train.shape[0] - len of x, shape[0]= number of rows. | Shape return the hole tupple , shape[0] return row 

            num = num + ((X_train[i] - X_train.mean())*(y_train[i] - y_train.mean()))
            den = den + ((X_train[i] - X_train.mean())*(X_train[i] - X_train.mean()))

        m = num/den
        c = (y_train.mean() - ((m)*X_train.mean()))

       
        return m,c

In [132]:
X = df.iloc[:,0].values
y = df.iloc[:,1].values

In [133]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=46)

In [134]:
fit(X_train,y_train)

(1.1858223218296922, 14.713764388326432)

Class Questions

In [135]:
#list 7 elements 7,8,9,10,11, at index 0 element is 7,8,9,10,11 
l = [7,8,9,10,11]
f = pd.DataFrame(l)
f

    0
0   7
1   8
2   9
3  10
4  11

In [136]:
l = [7,8,9,10,11]
f = pd.DataFrame(l)
for i  in range(len(f)):
    print(f.loc[i])

0    7
Name: 0, dtype: int64
0    8
Name: 1, dtype: int64
0    9
Name: 2, dtype: int64
0    10
Name: 3, dtype: int64
0    11
Name: 4, dtype: int64

In [137]:
l = [7,8,9,10,11]
for i in range(len(l)):
#     print(format((i,l[i])))
      print(((i,l[i])))

(0, 7)
(1, 8)
(2, 9)
(3, 10)
(4, 11)

In [138]:
l = [7,8,9,10,11,12]
for i in range(len(l)):
    print(i,l[i])

0 7
1 8
2 9
3 10
4 11
5 12