# Pandas

In [1]:
import pandas as pd

In [2]:
var1 = pd.Series(data = [15,20,25], index = ["strawberry","mango","apple"])

In [3]:
var1["mango"]

20

In [4]:
var1.shape

(3,)

In [5]:
var1.ndim

1

In [6]:
var1.index

Index(['strawberry', 'mango', 'apple'], dtype='object')

In [7]:
var1.values

array([15, 20, 25], dtype=int64)

In [8]:
var1['mango':'apple']

mango    20
apple    25
dtype: int64

In [9]:
var1[1:3]

mango    20
apple    25
dtype: int64

In [10]:
var1[-1]

25

In [11]:
var1[[1,2]]

mango    20
apple    25
dtype: int64

In [12]:
var1.drop('apple')

strawberry    15
mango         20
dtype: int64

In [13]:
var1.drop('apple',inplace = True)

In [14]:
var1

strawberry    15
mango         20
dtype: int64

In [15]:
var1+5

strawberry    20
mango         25
dtype: int64

In [16]:
var1-1

strawberry    14
mango         19
dtype: int64

In [17]:
var1*2

strawberry    30
mango         40
dtype: int64

In [18]:
var1/5

strawberry    3.0
mango         4.0
dtype: float64

In [19]:
var1%5

strawberry    0
mango         0
dtype: int64

In [20]:
var1**2

strawberry    225
mango         400
dtype: int64

In [21]:
var1/0

strawberry    inf
mango         inf
dtype: float64

In [22]:
import numpy as np

In [23]:
np.sqrt(var1)

strawberry    3.872983
mango         4.472136
dtype: float64

In [24]:
np.power(var1,2)

strawberry    225
mango         400
dtype: int64

In [25]:
var1["strawberry"]-5

10

In [26]:
var1 = pd.Series(data = [15,20,25])

In [27]:
var1

0    15
1    20
2    25
dtype: int64

# Data Frame

In [28]:
var2 = {"Akash":[0,2,4,6,8],"Manirul":[5,6,10,11,12]}

In [29]:
df = pd.DataFrame(var2)
df

   Akash  Manirul
0      0        5
1      2        6
2      4       10
3      6       11
4      8       12

In [30]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [31]:
df.columns

Index(['Akash', 'Manirul'], dtype='object')

In [32]:
df['Akash']

0    0
1    2
2    4
3    6
4    8
Name: Akash, dtype: int64

In [33]:
df.shape

(5, 2)

In [34]:
df.ndim  #dimension

2

In [35]:
df.index = ['a', 'b', 'c', 'd', 'e']
df

   Akash  Manirul
a      0        5
b      2        6
c      4       10
d      6       11
e      8       12

In [36]:
var3 = {"Soumik":[0,2,4,6,8],"Arghya":[5,6,10,11,12]}

In [37]:
df1 = pd.DataFrame(var3)
df1

   Soumik  Arghya
0       0       5
1       2       6
2       4      10
3       6      11
4       8      12

In [38]:
df1.index

RangeIndex(start=0, stop=5, step=1)

In [39]:
df1.columns

Index(['Soumik', 'Arghya'], dtype='object')

In [40]:
df1.ndim

2

In [41]:
df1.index = ['A',"B", 'C', 'D', 'E']
df1

   Soumik  Arghya
A       0       5
B       2       6
C       4      10
D       6      11
E       8      12

In [42]:
df1['B':'D']    #stored_variable_name['start row index':'end row index']

   Soumik  Arghya
B       2       6
C       4      10
D       6      11

In [43]:
df1["Soumik"][:]

A    0
B    2
C    4
D    6
E    8
Name: Soumik, dtype: int64

In [44]:
df1["Soumik"]['E']

8

In [45]:
df1.loc["A"]  ##it use to locate according its Index Name

Soumik    0
Arghya    5
Name: A, dtype: int64

In [46]:
df.iloc[0]  #it use to locate according its Index

Akash      0
Manirul    5
Name: a, dtype: int64