In [1]:
import pandas as pd

In [ ]:
ls

In [ ]:
pd.read_csv("address.csv.csv")

In [ ]:
pd.read_csv(r"D:\python\AILABS\Day 7 30.06.2023\address.csv.csv")

In [ ]:
pd.read_csv(r"D:\python\AILABS\Day 7 30.06.2023\address.csv.csv",header = None)

In [ ]:
pd.read_csv(r"D:\python\AILABS\Day 7 30.06.2023\address.csv.csv",names = ["a","b","c","d","e","f","g","h"])
# names helps  to change

In [ ]:
pd.read_csv(r"D:\python\AILABS\Day 7 30.06.2023\address.csv.csv",names = ["a","b","c","d","e","f","g","h"])

In [ ]:
pd.read_csv(r"D:\python\AILABS\Day 7 30.06.2023\address.csv.csv",names = ["d","e","f","g","h"])

In [ ]:
pd.read_csv(r"D:\python\AILABS\Day 7 30.06.2023\address.csv.csv",names = ["d","e","f","g","h"]).head(2)

In [ ]:
pd.read_csv(r"D:\python\AILABS\Day 7 30.06.2023\address.csv.csv",names = ["a","b","c","d","e","f","g","h"]).head(2)

In [ ]:
pd.read_csv(r"D:\python\AILABS\Day 7 30.06.2023\address.csv.csv",names = ["d","e","f","g","h"]).index

In [ ]:
pd.read_csv(r"D:\python\AILABS\Day 7 30.06.2023\address.csv.csv",names = ["a","b","c","d","e","f","g","h"]).index

In [ ]:
df = pd.read_csv(r"D:\python\AILABS\Day 7 30.06.2023\address.csv.csv",names = ["a","b","c","d","e","f","g","h"])
df[0:6]["a"]

In [ ]:
pd.read_csv(r"D:\python\AILABS\Day 7 30.06.2023\address.csv.csv",names = []).head(2)

In [ ]:
df.dtypes

In [ ]:
df.columns

In [ ]:
df[["e","f"]][:4]

In [ ]:
df1 = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")
df1

In [ ]:
type(df1)

In [ ]:
df1 = pd.DataFrame(df1[0])

In [ ]:
df1.shape
df1.ndim

In [ ]:
len(df1)

In [ ]:
df1

In [ ]:
df1.shape

In [ ]:
df2 = pd.read_html("https://stats.espncricinfo.com/ci/engine/records/averages/batting.html?class=3;id=6;type=team")
df2

In [ ]:
df2.shape

In [ ]:
df2 = pd.DataFrame(df2)
df2

In [ ]:
df3 = pd.read_excel("excel-spreadsheet-examples-for-students.xls")  
df3
# by deaflut reading the "big" exel file

In [ ]:
df8 = pd.read_excel("excel-spreadsheet-examples-for-students.xls",sheet_name="short")  
df8
# Reading the "short" exel file

In [ ]:
ls  # printing the directry list (What is present in the directry)

In [ ]:
df4 = pd.read_csv("weather_city.csv")
df4

In [6]:
df5 = pd.read_csv("weather_city_deleted.csv")
df5

           day      city  temperature  windspeed   event
0   01-01-2017  new york         32.0          6    Rain
1   01-02-2017  new york         36.0          7   Sunny
2   01-03-2017  new york          NaN         12    Snow
3   01-04-2017      n.a.          NaN          7     NaN
4   01-01-2017    mumbai          NaN          5   Sunny
5   01-02-2017    mumbai         85.0       -999     Fog
6   01-03-2017    mumbai          NaN         15     Fog
7   01-04-2017    mumbai         92.0          5    Rain
8   01-01-2017     paris         45.0         20   Sunny
9   01-02-2017     paris         50.0         13  Cloudy
10  01-03-2017     paris         54.0          8     NaN
11  01-04-2017     paris         42.0      -2536  Cloudy

In [2]:
df8 = pd.ExcelFile("excel-spreadsheet-examples-for-students.xls")
df8
# printing the file location

In [3]:
sheet_name_list = df8.sheet_names
sheet_name_list

['big', 'short']

In [4]:
df8.parse('short')

    First Name Last Name                Company Name                 Address
0     Rebbecca     Didio      Brandt, Jonathan F Esq           171 E 24th St
1       Stevie     Hallo  Landrum Temporary Services          22222 Acoma St
2       Mariko    Stayer         Inabinet, Macre Esq   534 Schoenborn St #51
3      Gerardo    Woodka    Morris Downing & Sherred       69206 Jackson Ave
4        Mayra      Bena          Buelt, David L Esq       808 Glen Cove Ave
..         ...       ...                         ...                     ...
495      Miles   Feldner   Antietam Cable Television  28465 Downey Ave #4238
496      Julio     Mikel           Lombardi Bros Inc     2803 N Catalina Ave
497       Aide     Ghera       Nathaniel Electronics       22 Livingston Ave
498     Noelia  Brackett     Rodriguez, Joseph A Esq      403 Conn Valley Rd
499     Lenora  Delacruz     Stilling, William J Esq          5400 Market St

[500 rows x 4 columns]

In [7]:
df5[df5.temperature == df5['temperature'].max()]

          day    city  temperature  windspeed event
7  01-04-2017  mumbai         92.0          5  Rain

In [8]:
df5[['day']][df5.temperature == df5['temperature'].max()]

          day
7  01-04-2017

In [9]:
df5[['day','temperature']][df5.temperature == df5['temperature'].max()]

          day  temperature
7  01-04-2017         92.0

In [ ]:
# [df9 = pd.read_exel("excel-spreadsheet-examples-for-students.xls",sheet_name = i) for i in sheet_name_list]
for i in sheet_name_list:
    df9 = pd.read_excel("excel-spreadsheet-examples-for-students.xls",sheet_name = i)
df9

In [ ]:
df5.index

In [ ]:
df123= df5.set_index('day')
df123

In [10]:
df5.set_index('day',inplace= True)
# it changes the data permanently in a copy of that same data
df5

                city  temperature  windspeed   event
day
01-01-2017  new york         32.0          6    Rain
01-02-2017  new york         36.0          7   Sunny
01-03-2017  new york          NaN         12    Snow
01-04-2017      n.a.          NaN          7     NaN
01-01-2017    mumbai          NaN          5   Sunny
01-02-2017    mumbai         85.0       -999     Fog
01-03-2017    mumbai          NaN         15     Fog
01-04-2017    mumbai         92.0          5    Rain
01-01-2017     paris         45.0         20   Sunny
01-02-2017     paris         50.0         13  Cloudy
01-03-2017     paris         54.0          8     NaN
01-04-2017     paris         42.0      -2536  Cloudy

In [ ]:
# df5.loc('day')   correct the code

In [ ]:
pd.read_csv(r"D:\python\AILABS\Day 7 30.06.2023\address.csv.csv",names = []).head(2).index