In [1]:
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
from matplot
import seaborn as sns

In [2]:
df = pd.read_csv("data.csv")
df

            0          1
0   32.502345  31.707006
1   53.426804  68.777596
2   61.530358  62.562382
3   47.475640  71.546632
4   59.813208  87.230925
..        ...        ...
95  50.030174  81.536991
96  49.239765  72.111832
97  50.039576  85.232007
98  48.149859  66.224958
99  25.128485  53.454394

[100 rows x 2 columns]

In [3]:
X = df.iloc[:,0:1]
y = df.iloc[:,-1]

In [4]:
X.shape

(100, 1)

In [5]:
y.shape

(100,)

In [6]:
X

            0
0   32.502345
1   53.426804
2   61.530358
3   47.475640
4   59.813208
..        ...
95  50.030174
96  49.239765
97  50.039576
98  48.149859
99  25.128485

[100 rows x 1 columns]

In [7]:
y

0     31.707006
1     68.777596
2     62.562382
3     71.546632
4     87.230925
        ...
95    81.536991
96    72.111832
97    85.232007
98    66.224958
99    53.454394
Name: 1, Length: 100, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=46)

In [9]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

In [10]:
lr.fit(X_train,y_train)

LinearRegression()

In [11]:
y_prd = lr.predict(X_test)

In [12]:
from sklearn.metrics import r2_score

r2_score(y_test,y_prd)

0.5581463018165082

In [16]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test,y_prd)

141.42942826261154

In [1]:
plt.scatter(df["0"],df["1"])
plt.xlabel("A")
plt.ylabel("B")
plt.plot(X_train,lr.predict(X_train),c="r")

NameError: name 'plt' is not defined